body {
  background-color: #e5e7e9;
}

.card {
  max-width: 400px;
  margin: auto;
}

button {
  font-size: 1.2rem;
}

#display {
  background-color: #bbc6d1; 
  color: #ffffff;    
  border: none;
  padding: 10px;
  border-radius: 0.375rem;
  font-weight: bold;
}